<div class="search-api-lunr-page" data-server="{{ server }}" data-index="{{ index }}">

  <form class="search-api-js-page__form" id="search-page-form">
    <div class="form-item">
      <label>Search</label>
      <input name="q" class="search-api-js-page__input" type="text" placeholder="Search">
    </div>
    <input type="submit" value="Search">
  </form>

  <div class="search-api-js-page__results-container">
    <div class="search-api-js-page__results"></div>
  </div>
</div>
