<form action="{{ path('search_api_lunr.search', { server: server, index: index }) }}">
  <div class="search-api-lunr-form">
    <div class="form-item">
      <label>Search</label>
      <input name="q" class="search-api-lunr-form__input {% if autocomplete_index %}search-api-lunr-autocomplete{% endif %}" type="text" placeholder="Search" {% if autocomplete_index %}data-server="{{ autocomplete_server }}" data-index="{{ autocomplete_index }}"{% endif %}>
    </div>
    <input type="submit" value="Search">
  </div>
</form>
